.form-group {
    margin: 10px;
}

.user-display, .pet-display {
    border: 1px solid #9e9f9a;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: 450px;
}

.navbar {
    background:;
    border: none;
}
