<h2>Events Page</h2>

<button class="btn btn-primary" ng-click="eventsController.read()">Show Event Posts</button>
<button class="btn btn-primary" ng-click="eventsController.goToPage('events-create')">Create Event</button><br>

<ul>
    <li ng-repeat="post in eventsController.list">
        <div>
            <div>
                <br>
                <div>
                    <strong>Name: </strong> <a href="#" ng-click="eventsController.goToPage('events-view', {id:post._id})">{{ post.name }}</a>
                </div>
                <div>
                    <strong>Date: </strong> {{ post.date }}
                </div>
                <div>
                    <strong>Time: </strong> {{ post.time }}
                </div>
                <div>
                    <strong>Location: </strong> {{ post.location }}
                </div>
                <div>
                    <strong>Description: </strong> {{ post.description }}
                </div>
                <br>
            </div>
        </div>
    </li>
</ul>
