<h2>Other Pet Lovers!</h2>

<div class="links">
<a href="/profile/search/dog">Dogs</a> | <a href="/profile/search/cat">Cats</a> | <a href="/profile/search/bird">Birds</a> | <a href="/profile/search/reptile">Reptiles</a>
</div>
