<h2>Other Pet Lovers!</h2>


    <div class="pet-links">
        <a href="/profile/search/dog"><img src="http://cdn3-www.dogtime.com/assets/uploads/2014/08/file_23300_cane-corso-dog-breed.jpg" alt="Dog"></a>
        <a href="/profile/search/cat"> <img src="http://www.i-love-cats.com/images/2015/04/12/cat-wallpaper-38.jpg" alt="Cat"></a>
        <a href="/profile/search/bird"><img src="http://farm4.staticflickr.com/3271/3354081934_fd288a2101.jpg" alt="Bird"></a>
        <a href="/profile/search/reptile"><img src="http://imagenesfotos.com/wp-content/2010/09/reptiles-2.jpg" </a>
    </div>
