<div class="search-header col-md-6 col-md-offset-3">
    <h1>Other Pet Lovers!</h1>
</div>

<div class="container">
    <div class="row pet-links">
        <div class="col-lg-6">
            <a href="/profile/search/dog"><img src="http://cdn3-www.dogtime.com/assets/uploads/2014/08/file_23300_cane-corso-dog-breed.jpg" alt="Dog"></a>
        </div>
        <div class="col-lg-6">
            <a href="/profile/search/cat"> <img src="http://www.i-love-cats.com/images/2015/04/12/cat-wallpaper-38.jpg" alt="Cat"></a>
        </div>
    </div>

    <div class="row pet-links">
        <div class="col-lg-6">
            <a href="/profile/search/bird"><img src="http://farm4.staticflickr.com/3271/3354081934_fd288a2101.jpg" alt="Bird"></a>
        </div>
        <div class="col-lg-6">
            <a href="/profile/search/reptile"><img src="http://imagenesfotos.com/wp-content/2010/09/reptiles-2.jpg" </a>
        </div>
    </div>
</div>
